/*!
 * MemoRecap Project
 * 3rd yr. 1st sem (2017)
 * IT-3A PAWER
 */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: url('images/WALLPAPER.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Blacktear Script", cursive, sans-serif;
}

h1 {
  font-size: 4rem;
}

.EPFW{
	margin-left:75px;
}

.VM{
	margin-right:75px;
	font-family: "Champagne & Limousines", Arial, serif;
}

.puter{
	color: white;
}

.tablet{
	margin-top: 60px;
	margin-left:75px;
}

.tablet2{
	margin-top: 60px;
	margin-right:75px;
}

.hedest{
	font-family: "Blacktear Script", cursive, sans-serif;
	font-size:4em;
	
}

.hed{
	font-family: "Brody", cursive, sans-serif;
	font-size:2em;
	text-align: center;
}

.nav-row{
	padding:0px 0px 0px 100px;
}

p {
	font-family: "Champagne & Limousines", Arial, serif;
	font-size: 1.5em;
}

.landi{
	color: #705239;
    text-shadow: 2px 2px 2px #000000, 0 0 25px white;
}

.landi2{
	color: #f3ebc3;
    text-shadow: 0 0 25px white;
}

.para1 { margin-left:10px; margin-right: 80px; margin-top:30px; text-align: right;} 
.para2 { margin-left: 80px; margin-right: 10px; margin-top:30px;} 
.para3{ margin-left:10px; margin-right: 80px; margin-top:30px; margin-bottom:70px; text-align: right;}

.atl{
	margin-bottom:210px;
	margin-right: 50px;
}

img{
	height:220px;
	width:250px;
	
}

.smol{
	height:45px;
	width:45px;
	
}

.login{
	font-size:1.5rem;
	padding-top: 15px;
}

.titel{
	margin: auto;
	height:60%;
	width: 10%;
    padding: 0px 100px 0px 100px;
}

.pic{ margin-right: 5%; margin-left: 10%; margin-bottom:7%; margin-top:2%;}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 1.25rem;
}

.bg {
	
	background: url('../img/HERE.png') no-repeat center center;
	background-size: 120% 105%;
}

.bg-faded {
	background: url('../img/box.png') no-repeat center;
}
@media (min-width: 576px){
	.bg-faded{
		background-size: cover;
		background-size: 120% 170%;
	}
}
@media (min-width: 150%){
	.bg-faded{
		background: url('../img/box.png') no-repeat center;
		
	}
}

.bg-overlay {
  background-color: rgba(35, 1, 10, 0.5);
}


.pad {
	padding: 10px 50px 0px 0px;
}

.tilt{
	-webkit-transform: rotate(7deg);
    transform: rotate(7deg);
	margin-bottom:50px;
}

.tilt2{
	-webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
	margin-bottom:50px;
}

.img hover{
	/* shet joke lang, i need to chill */
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}


.map-container iframe {
  pointer-events: none;
}

.map-container iframe.clicked {
  pointer-events: auto;
}
