body{
	background: gray;
}
#assets{
	float: left; width: 120px; height: 550px; border: solid thin black; overflow: auto; top: 10px; left: 10px;
}
#asset-picker{
	list-style: none; padding: 0px; width: 100%;
}
.first{
	border: solid thin black; width: 100px; height: 100px; padding: 0;
}
.asset{
	width: 100px; height: 100px; border: solid thin #004d00; border-style: dashed;
}
.rotate{
	width: 100%; height: 100%; border: solid thin #862dde; border-style: dashed;
}
.rotate img{
	width: 100%; height: 100%;	
}
.first img{
	width: 100%; height: 100%;
}
#workspace{
	background: #fdc; overflow: hidden; margin: auto; padding: 0px; border: 2px solid black;
}
#z-order-container{
	border: solid thin black; height: 150px; width: 200px; float: right; overflow: auto;
}
#asset-attribute{
	border: solid thin black; height: 175px; width: 200px; float: right;
}
#page-attribute{
	border: solid thin black; height: 150px; width: 200px; float: right;
}
#pagination-container{
	border: solid thin black; float: left; height: 20px; width: auto;
}
#pagination{
	list-style: none; padding: 0; margin: 0;
}
#pagination li{
	float: left; border: solid thin black; margin-left: 2px;
}
.pages{
	height: 100%; width: 100%; overflow: hidden;
}
#fileChooser{
	position: absolute; left: 300px; top: 700px;
}
.context-menu {
    list-style: none; overflow: hidden; display: none; z-index: 1000; position: absolute; border: 1px solid #CCC; white-space: nowrap; font-family: sans-serif; background: #FFF; color: #333; border-radius: 5px;
}
.context-menu li {
    padding: 8px 12px; cursor: pointer;    
}
.context-menu li:hover {
    background-color: #DEF;
}